<!--
Jake, Wu
3/15/2019
328/IT328-Final/views/GPU.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPU</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="styles/styles2.css">
</head>
<body>
<div class="navbar">
    Computer Assembly
</div>
<hr>
<div class="text-center">
    <img src="images/logo3.gif" height="100" width="100" alt="logo">
    <p>Jake & Wu</p>
</div>
<div class="container rounded border" id="contain">

    <div class=" mt-4 mb-4">
        <div class="text-center">
            <h1>GPU</h1>
        </div>
        <hr>
        <br/>
        <form action="#" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-5 text-center align-content-center">
                    <h4>Do you have a GPU already selected?</h4>
                    <br/>
                    <div class="">
                        <div class="radio">
                            <label class="radio-inline mr-3"><input type="radio" id="Yes" name="GPU" value="Yes">
                                Yes</label>
                            <label class="radio-inline"><input type="radio" id="No" name="GPU" value="No" checked>
                                No</label>
                        </div>
                        <br/>
                        <div id="divResult"></div>
                        <!--<div class="col-10 ml-5">-->
                        <!--&lt;!&ndash;TODO add javascript to hide input field if 'no' is selected&ndash;&gt;-->
                        <!--<input class="form-control" name="GPUchoice" list="GPUchoice">-->
                        <!--</div>-->
                        <!--<datalist id="GPUchoice">-->
                        <!--<option value="TITAN Xp COLLECTORS EDITION">-->
                        <!--<option value="GeForce GTX 1080 Ti">-->
                        <!--<option value="NVIDIA TITAN Xp">-->
                        <!--<option value="Radeon Pro Vega 64">-->
                        <!--<option value="TITAN V">-->
                        <!--<option value="GeForce GTX 1070 Ti">-->
                        <!--<option value="GeForce GTX 1080">-->
                        <!--<option value="GeForce GTX 980 Ti">-->

                        <!--</datalist>-->
                    </div>
                </div>
                <div class="col-6">
                    <img src="images/gpu/nvidia.jpg" alt="Nvidia GPU" class="rounded img-fluid">
                </div>
            </div>

            <br/>
            <br/>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg" name="submit">
                    Next >
                </button>
            </div>
        </form>
    </div>
</div>
<div class="text-center">
    <!--<img src="images/logo2.gif" height="200" width="200" alt="logo">-->
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script>

    $("#Yes").on("click", function () {
        // $("#divResult").load('{{ @BASE }}/gpuList');
        $("#divResult").load('views/GPUDatalist.php', {type: "gpu"});

    });
    $("#No").on("click", function () {
        $("#divResult").html("");
    });

</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>