<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="styles/styles2.css">
</head>
<body>
<div class="navbar">
    Computer Assembly
</div>
<hr>
<div class="text-center">
    <img src="images/logo3.gif" height="100" width="100" alt="logo">
    <p>Jake & Wu</p>
</div>
<br/>
<div class="container rounded border" id="contain">
    <div class="row mt-2 mb-2">
        <form action="#" method="post" class="form-horizontal">
            <div class="text-center">
                <h1>Computer Assembly</h1>
                <hr>
                <br>
            </div>
            <div class="row">
                <div class="text-left col-6 ml-2" >
                    <p> Our goal is to give suggestions to users trying to build their own PC.
                        <br>
                        Given a budget, and an intended use we construct the best system for the job.

                        <br>
                        <br>

                        The following components are available when building a computer:
                    <ul>
                        <li>CPU</li>
                        <li>GPU</li>
                        <li>Storage drives (HDD, SSD)</li>
                        <li>Motherboard</li>
                        <li>Memory</li>
                        <li>Case</li>
                    </ul>
                    <!--
                    The metal casing houses the internal components of the computer. It usually comes with its own power
                    supply and a set of screws, connectors, and cables.
                    The processor is the computer's main integrated circuit and is known as the true brain of the
                    computer,
                    performing all of the main calculations.
                    Storage devices, such as hard drives,
                    CD-ROM, and DVD-ROM drives and burners as well as the floppy disk drive make it possible to store
                    information on your PC.
                    Expansion cards are used to upgrade computer functionality and performance.
                    The motherboard is a large printed circuit board used to connect the processor, RAM, hard drives,
                    CD/DVD
                    drives, and expansion cards.

                    Now we are giving plan suggestions to users as they are trying to assembly the PC on their own.
                    -->
                    </p>

                </div>

                <div class="col-5 text-center">
                    <img src="images/system/complete.jpg" alt="Intel CPU" class="rounded img-fluid">
                    <br/>

                    <label for="plan">
                        <strong>Already have a plan?<br></strong>
                    </label>

                    <input class="form-control col-9 ml-5" type="text" name="plan" id="plan" placeholder="Plan #">
                    <check if="{{isset(@error['plan'])}}">
                        <p>{{@error['plan']}}</p>
                    </check>
                </div>
            </div>
            <br>


            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg m-2" name="submit">
                    Get Started!
                </button>
            </div>

        </form>

    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>