<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="navbar">
    Computer Assembly
</div>
<hr>
<br/>
<div class="container rounded border">
    <div class="row mt-2 mb-2">
        <form action="#" method="post" class="form-horizontal">
        <div class="text-center">

            <h1>Computer Assembly</h1>

        </div>
        <div class="text-left">
            <p>
                The following components are available when building a computer: the casing, the motherboard, the
                processor, the RAM modules, the storage drives, and expansion cards.
                The metal casing houses the internal components of the computer. It usually comes with its own power
                supply and a set of screws, connectors, and cables.
                The processor is the computer's main integrated circuit and is known as the true brain of the computer,
                performing all of the main calculations.
                Storage devices, such as hard drives,
                CD-ROM, and DVD-ROM drives and burners as well as the floppy disk drive make it possible to store
                information on your PC.
                Expansion cards are used to upgrade computer functionality and performance.
                The motherboard is a large printed circuit board used to connect the processor, RAM, hard drives, CD/DVD
                drives, and expansion cards.

                Now we are giving plan suggestions to users as they are trying to assembly the PC on their own.
            </p>



                <label class="form-inline">
                    <strong>Plan #<br/></strong>

                    <input class="form-control" type="text" name="plan" id="plan">
                </label>

        </div>
        <div class="text-center">

                        <button type="submit" class="btn btn-primary btn-lg" name="submit">
                            Submit!
                        </button>
        </div>

        </form>

    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>