<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="navbar">
    Computer Assembly
</div>
<div class="container rounded border">

    <div class=" mt-4 mb-4">
        <form action="#" method="post" class="form-horizontal">
            <div>

                <div class="row">
                    <div class="col-sm-4">
                        <table class="table container rounded border">
                            <tr>
                                <td>Details</td>
                                <td>Model Reference Price</td>
                                <td>Price</td>
                            </tr>
                            <tr>
                                <td>CPU:</td>
                                <td>
                                    <button type="button" class="btn" name="CPU" id="CPU"></button>
                                </td>
                                <td id="CPUcost">$</td>

                            </tr>
                            <tr>
                                <td>Motherboard:</td>
                                <td>
                                    <button type="button" class="btn" name="Motherboard" id="Motherboard"></button>
                                </td>
                                <td>$</td>
                                <!--<td>CPU: {{ @SESSION['plan']->getMotherboard() }}</td>-->
                            </tr>
                            <tr>
                                <td>GPU:</td>
                                <td>
                                    <button type="button" class="btn" name="GPU" id="GPU"></button>
                                </td>
                                <td>$</td>
                                <!--<td>GPU: {{ @SESSION['plan']->getGPU() }}</td>-->
                            </tr>
                            <tr>
                                <td>RAM:</td>
                                <td>
                                    <button type="button" class="btn" name="RAM" id="RAM"></button>
                                </td>
                                <td>$</td>
                                <!--<td>RAM: {{ @SESSION['plan']->getRAM() }}</td>-->
                            </tr>
                            <tr>
                                <td>SSD:</td>
                                <td>
                                    <button type="button" class="btn" name="SSD" id="SSD"></button>
                                </td>
                                <td>$</td>
                                <!--<td>SSD: {{ @SESSION['plan']->getSSD() }}</td>-->
                            </tr>
                            <tr>
                                <td>HD:</td>
                                <td>
                                    <button type="button" class="btn" name="HD" id="HD"></button>
                                </td>
                                <td>$</td>
                                <!--<td>HD: {{ @SESSION['plan']->getHD() }}</td>-->
                            </tr>
                            <tr>
                                <td>Power:</td>
                                <td></td>
                                <td><input class="form-control" type="text" name="Power" id="Power"
                                           placeholder="100">
                                </td>
                            </tr>
                            <tr>
                                <td>Monitor:</td>
                                <td></td>
                                <td><input class="form-control" type="text" name="Monitor" id="Monitor"
                                           placeholder="100">
                                </td>
                            </tr>
                            <tr>
                                <td>Case:</td>
                                <td></td>
                                <td><input class="form-control" type="text" name="Case" id="Case"
                                           placeholder="100">
                                </td>
                            </tr>
                            <tr>
                                <td>other:</td>
                                <td></td>
                                <td><input class="form-control" type="text" name="mouse" id="mouse"
                                           placeholder="100">
                                </td>
                            </tr>
                            <tr>
                                <td>Score:
                                    <br><br>CPU:
                                    <div class="progress ">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        25%
                                    </div>
                                    <br>GPU:
                                    <div class="progress ">
                                        <div class="progress-bar" role="progressbar" style="width: 45%"
                                             aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                        45%
                                    </div>
                                    <br>RAM:
                                    <div class="progress ">
                                        <div class="progress-bar" role="progressbar" style="width: 75%"
                                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        75%
                                    </div>
                                    <br>
                                </td>
                                <td></td>
                                <td>Total: $
                                </td>
                            </tr>

                        </table>

                        <div>
                            <button type="submit" class="btn btn-primary btn-lg" name="Save">
                                Save
                            </button>

                            <p>
                                * If one part of score is much lower than other parts,
                                that means the plan is not perfect because the performance
                                is depend on the lowest bar.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <table class="table container rounded border" id="planTable">
                            <tr>
                                <td>model</td>
                                <td>score bar</td>
                                <td>Reference Price</td>
                            </tr>
                            <tr>

                            </tr>
                            <!--<check if (isset($_POST['CPU']))>-->
                            <!--<tr>-->
                            <!--<td>CPU:-->
                            <!--<repeat group="" value="">-->
                            <!--</repeat>-->
                            <!--</td>-->
                            <!--</tr>-->
                            <!--</check>-->
                        </table>
                    </div>


                    <div class="col-sm-4">
                        <h3>Reference Plan</h3>Type:
                        <table>
                            <div class="container rounded border mb-4">
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-success"  id="Game">game</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success">school</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-success">work</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success">design</button>
                                    </td>
                                </tr>
                            </div>
                        </table>
                        <br>
                        Budget:
                        <table>
                            <div class="container rounded border  mb-4">
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-success" id="500"><$500</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-success">$500-$800</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-success"><$800</button>
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script>
    $("#CPU").on("click", function () {
        $("#planTable").load("CPUtable.html");
    });
    $("#Game").on("click", function () {
        // $("#500").on("click", function () {
            $("#CPU").val("intel");
            $("#CPUcost").val("$100");
        // });
    });

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>