<!DOCTYPE html>
<!--
Jake, Wu
3/15/2019
328/IT328-Final/views/Save.html
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="styles/styles2.css">
</head>
<body>
<div class="navbar">
    <div class="nav-item">Computer Assembly</div>

</div>
<hr>
<div class="text-center">
    <img src="images/logo3.gif" height="100" width="100" alt="logo">
    <p>Jake & Wu</p>
</div>
<br/>
<div class="container rounded border" id="mainArea">
    <div class="mt-2 mb-2">
        <form action="#" method="post" class="form-horizontal">
            <div class="text-center">

                <h1>Save Successful</h1>
                <h3>Your Plan # is {{ $_SESSION['planNumber'] }}</h3>
            </div>

            <div class="text-center">

                <button type="submit" class="btn btn-primary btn-lg" name="return">
                    Return
                </button>
            </div>

        </form>

    </div>
</div>
<div class="text-center">
    <!--<img src="images/logo2.gif" height="200" width="200" alt="logo">-->
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>