@charset "utf-8";
textarea {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px
    solid
    #ccc;
}

.btn {
    font-size: 12px;
    max-width: 120px;
    overflow: hidden;
    border: 1px solid;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*
body{
    cursor:url(../images/mouse2.png),auto;
    background: url("../images/background.gif") no-repeat;
}
*/

