body{
    background: url("../images/background4.jpg") no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

#contain {
    background: white;
}

#mainContain{
    background: url("../images/background5.jpg") no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

#mainArea{
    background: url("../images/background.gif") no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}